<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{site.google.tag_manager.container_id}}');</script>

    {% include header.html %}

    {% if page.hero %}
        {% include hero.html %}
    {% endif %}

    {{ content }}

    {% include offcanvas.html %}

    {% if page.hero %}
        {% include search-hero.html %}
    {% else %}
        {% include search.html %}
    {% endif %}


    <script>
    anchors.options = {
      placement: 'left',
      visible: 'hover'
    };
       anchors.add();
     </script>
    </body>

</html>
