<div class="js-comments">
  {% assign comments = site.data.comments[page.slug] | sort %}
  {% for comment in comments %}
    {% assign avatar = comment[1].avatar %}
    {% assign email = comment[1].email %}
    {% assign name = comment[1].name %}
    {% assign url = comment[1].url %}
    {% assign date = comment[1].date %}
    {% assign message = comment[1].message %}
    {% include comment.html index=forloop.index avatar=avatar email=email name=name url=url date=date message=message %}
  {% endfor %}
</div>
