<script type="text/javascript">
   /* Create a configuration object */
   var ss360Config = {
      /* Your site id */
      siteId: 'blockstack',
      showErrors: true,
      accessibility: {
        isMainContent: true
      },
      /* A CSS selector that points to your search  box */
      layout: {
        navigation: {
            position: "top"
        },
        mobile: {
            showUrl: true
        },
        desktop: {
            showUrl: true
        }
      },
      searchBox: {
        selector: '#searchBox'
      },
      results: {
         embedConfig: undefined, 
         fullScreenConfig: undefined, 
         caption: 'Found #COUNT# search results for \"#QUERY#\"', 
         group: true, 
         filters: undefined,
         num: 96, 
         highlightQueryTerms: true, 
         moreResultsButton: "Show more results", 
         noResultsText: 'Sorry, we have not found any matches for your query.', 
         queryCorrectionText: 'Did you mean "#CORRECTION#"?',
         searchQueryParamName: 'ss360Query', 
         linksOpenNewTab: false, 
         showSearchBoxLayover: true, 
         moreResultsPagingSize: 12, 
         orderByRelevanceText: "Relevance" 
      },
      suggestions: {
         show: true,  
         maxQuerySuggestions: 3,
         querySuggestionHeadline: undefined, 
         emptyQuerySuggestions: undefined,
         showImages: false, 
         num: 6, 
         minChars: 3, 
         maxWidth: 'auto', 
         throttleTime: 300,
         extraHtml: undefined, 
         highlight: true
       },
       smart404: { 
             caption: 'These links might be useful', 
             identifier: 'Page not found', 
             resultSelector: '#ss360-404'
        }
   };
</script>
<script type="module" src="https://cdn.sitesearch360.com/sitesearch360-v12.mjs"></script>
<script nomodule src="https://cdn.sitesearch360.com/sitesearch360-v12.min.js" async></script>