---
layout: default
---

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" data-uk-grid>

            <div class="sidebar-fixed-width uk-visible@m">
                <div class="sidebar-docs uk-position-fixed">
             <h1 class="uk-article-title">&nbsp;</h1>
                  {{ content | toc_only }}
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-expand@m">

                <article markdown="span" class="uk-article">

                    <h1 class="uk-article-title">{{ page.title | escape }}</h1>

                    {% if page.subtitle %}<p class="subtitle uk-text-lead uk-text-muted">{{ page.subtitle }}</p>{% endif %}


                    <div class="uk-article-meta uk-margin-top uk-margin-medium-bottom">
                        {% include post-meta.html %}
                    </div>

                    <div markdown="span" class="article-content">
                        {{ content }}
                        {% include share.html %}
                        {% include footer.html %}
                    </div>

                    <hr class="uk-margin-medium">

                    {% include paginate-doc.html %}

                    <!-- {% include related-learn.html %} -->

                </article>

                <script>
                    // Table of contents scroll to
                    UIkit.scroll('#markdown-toc a', {
                        duration: 400,
                        offset: 120
                    });
                </script>

            </div>

    </div>
</div>
