<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>

    {% include header.html %}

    {% if page.hero %}
        {% include hero.html %}
    {% endif %}

    {{ content }}

    {% include offcanvas.html %}

    {% if page.layout != 'doc' %}
        {% include footer.html %}
    {% endif %}

    {% if page.hero %}
        {% include search-hero.html %}
    {% else %}
        {% include search.html %}
    {% endif %}


    <script>
    anchors.options = {
      placement: 'left',
      visible: 'hover'
    };
       anchors.add();
     </script>
    </body>

</html>
